.landing-page-container {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.landing-page-midsection {
  display: flex;
  flex-flow: row nowrap;
  width: 100%
}

.landing-page-left,
.landing-page-right {
  flex: 1 100%;
}

.landing-page-left {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: center;
  margin-top: 20px;
}

.main-tagline {
  font-size: 2em;
}