
.login-form {
    color: white;
    margin-bottom: 10px;
    padding-top: 20px;
    background-color: rgb(197, 197, 197);
    border-radius: 1px;
    width: 400px;
    margin: 0 auto;
    height: 335px;
  }

  .login-box {
    padding-top: 30px;
    font-size: 20px;
  }

   .login-form input {
    font-size: 0.8em;
    font-weight: 400px;
    padding-left: 5px;
    margin-top: 10px;
    width: 230px;
    height: 31px;
    margin-bottom: 10px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.0),
      0 1px 0 rgba(0, 0, 0, 0.07) inset;
    outline: 0;
    border-radius: 6px;
  }

  .log {
    min-width: 100px;
    width: 100px;;
    height: 31px;
    margin-top: 10px;
    transition: all 100ms linear;
    background-color: rgb(204, 118, 228);
    color: white;
    border: none;
    margin-bottom: 15px;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 15px;
    font-size: 16px;
  }
  
  .log:hover {
    background:  rgb(178, 104, 199);
    transition: all 100ms linear;
  }
  
  .log:active {
    transform: translateY(5px);
  }
  
  .login-container {
    margin-top: 10%;
    position: absolute;
    height: auto;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* background: tomato; */
  }
  
  .login-form {
    width: 80%;
    max-width: 380px;
    padding-bottom: 20px;
    /* background: tomato; */
  }
  
  .login-box {
    border: none;
    display: flex;
    align-items: center;
  }
  
  legend {
    font-size: 1.5em;
    font-weight: 300;
  }

  fieldset {
    padding: 0;
  }
  
  .fields-container { 
    padding-top: 20px;
    padding-bottom: 20px;
    background: white;
    height: 200px;
  }

  .signup-here, .signup-here-link {
    color: rgb(204, 118, 228);
    text-decoration: none;
    border: none;
  }

  .no-account {
    margin-top: 16px;
    font-weight: 300;
    color: white;
  }