.registration-form {
    color: white;
    margin-bottom: 10px;
    padding-top: 20px;
    background-color: rgb(197, 197, 197);
    border-radius: 1px;
    width: 400px;
    margin: 0 auto;
    height: 100vh;
  }
  
  .registration-box {
    padding-top: 30px;
    font-size: 20px;
  }

   .registration-form input {
    font-size: 0.8em;
    font-weight: 400px;
    padding-left: 5px;
    margin-top: 10px;
    width: 230px;
    height: 31px;
    margin-bottom: 10px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.0),
      0 1px 0 rgba(0, 0, 0, 0.07) inset;
    outline: 0;
    border-radius: 6px;  
  }

  .registration-form select {
    width: 100px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 10px;
   }

  .sign {
    min-width: 100px;
    width: 100px;;
    height: 31px;
    margin-top: 10px;
    transition: all 100ms linear;
    background-color: rgb(204, 118, 228);
    color: white;
    border: none;
    margin-bottom: 15px;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 15px;
    font-size: 16px;
  }
  
  .sign:hover {
    background:  rgb(178, 104, 199);
  }
  
  .sign:active {
    transform: translateY(5px);
  }

  .log-in-here {
    color: rgb(204, 118, 228);
  }

  .sign-container {
    position: absolute;
    height: auto;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .registration-form {
    width: 80%;
    max-width: 380px;
    padding-bottom: 1px;
    height: 550px;
  }

  .registration-box {
    border: none;
    display: flex;
    align-items: center;
  }

  .fields-container-2 { 
    padding-top: 20px;
    padding-bottom: 20px;
    background: white;
    height: 400px;
  }

  .select-role {
    color: rgb(56, 56, 56);
    font-size: 0.9em;
  }

  .log-in-clouds {
    width: 800px;
    position: absolute;
    top: -160px;
    right: -200px;
    z-index: -1;
  }

  .log-in-clouds {
    position: absolute;
  }

  .log-in-here {
    text-decoration: none;
  }