
.enrolled-course {
  width: 400px;
  background: rgb(226, 225, 225);
  border-left: rgb(70, 133, 214) 5px solid;
  padding-bottom: 10px;
  margin: 5px;
  font-size: 0.7em;
}
/* 
.enrolled-course:nth-child(odd) {
  border-left: rgb(121, 82, 194) 5px solid;
} */

.delete-enrolled-button {
  border-radius: 2px;
  box-shadow: none;
  transition: all 0.2s ease;
  line-height: 20px;
  padding-top: 2px;
  border: 1px rgb(225, 225, 225) solid;
}

.delete-enrolled-button:hover {
  background: rgb(225, 225, 225);
  color: rgb(226, 35, 35);
  border: 1px rgb(226, 35, 35) solid;
  transition: all 0.2s ease;
}

.delete-enrolled-button:active {
  color: rgb(170, 17, 17);
  border: 1px rgb(170, 17, 17) solid;
}

.not-enrolled-caption{
  font-size: 0.8em;
  color: grey;
}

.collapse-enter {
  opacity: 0.01;
}

.collapse-enter.collapse-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.collapse-leave {
  opacity: 1;
}

.collapse-leave.collapse-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}