
.enrolled-course {
  width: 400px;
  background: rgb(226, 225, 225);
  border-left: rgb(70, 133, 214) 5px solid;
  padding-bottom: 10px;
  margin: 5px;
  font-size: 0.7em;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
/* 
.enrolled-course:nth-child(odd) {
  border-left: rgb(121, 82, 194) 5px solid;
} */

.course-name-container {
  flex: 1 100%;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.course-period-2, 
.class-teacher {
  flex: 1 100%;
  font-size: 1.2em;
  background: rgba(201, 201, 201, 0.675);
  border-radius: 30px;
  margin: 5px
}

.delete-enrolled-button {
  border-radius: 2px;
  box-shadow: none;
  transition: all 0.2s ease;
  line-height: 20px;
  padding-top: 2px;
  border: 1px rgb(225, 225, 225) solid;
  margin-bottom: 5px;
  margin-top: 8px;
}

.delete-enrolled-button:hover {
  background: rgb(225, 225, 225);
  color: rgb(226, 35, 35);
  border: 1px rgb(226, 35, 35) solid;
  transition: all 0.2s ease;
}

.delete-enrolled-button:active {
  color: rgb(170, 17, 17);
  border: 1px rgb(170, 17, 17) solid;
}

.not-enrolled-caption{
  font-size: 0.8em;
  color: grey;
}

.collapse-enter {
  opacity: 0.01;
}

.collapse-enter.collapse-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.collapse-leave {
  opacity: 1;
}

.collapse-leave.collapse-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}