.classes-result-ul {
  margin-left: 20px;
}

.available-course {
  width: 400px;
  background: rgb(226, 225, 225);
  border-left: rgb(231, 204, 47) 5px solid;
  padding-bottom: 10px;
  margin: 5px;
  font-size: 0.75em;
}

.class-name-container {
  padding-top: 15px
}

.class-name,
.instructor {
  /* color: rgb(119, 119, 119); */
  /* font-size: 0.9em; */
}

.available-course:nth-child(odd) {
  /* border-left: rgb(121, 82, 194) 5px solid; */
}


.collapse-enter {
  opacity: 0.01;
}

.collapse-enter.collapse-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.collapse-leave {
  opacity: 1;
}

.collapse-leave.collapse-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}