.add-class {
  position: relative;
  left: 20px
}

.add-class-form {
  display: flex;
  flex-flow: column wrap;
  margin-left: 20px;
}

.create-class-input {
  border: none;
  border-bottom: 1px solid grey;
  line-height: 30px;
  font-size: 0.8em;
  outline: none;
  padding-bottom: 0;
  margin-bottom: 10px;
  margin-top: 20px;
}

.create-class-submit {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 30px;
  font-size: 1.1em; 
  color: rgb(255, 255, 255);
  background-color: rgb(8, 173, 202);
  box-shadow: none;
  text-shadow: none;
  border:none;
  border-radius: 2px;  
  box-shadow:none;
  transition: all 0.3s ease;
}

.create-class-submit:hover {
  cursor: pointer;
  background-color: rgb(13, 143, 167);
  transition: all 0.3s ease;
}

.create-class-submit:active {
  background-color: rgb(12, 110, 128);
}