.created-course {
  width: 400px;
  background: rgb(226, 225, 225);
  border-left: rgb(70, 133, 214) 5px solid;
  padding-bottom: 10px;
  margin: 5px
}

.created-course:nth-child(odd){
  border-left: rgb(121, 82, 194) 5px solid;
}