.created-course {
  width: 400px;
  background: rgb(226, 225, 225);
  border-left: rgb(118, 60, 143) 5px solid;
  padding-bottom: 10px;
  margin: 5px;
  font-size: 0.7em;
}

/* Doesn't go well with instantly rendered 
list on same page view */
/* .created-course:nth-child(odd){
  border-left: rgb(121, 82, 194) 5px solid;
} */

.remove-class-button {
  border-radius: 2px;
  box-shadow: none;
  transition: all 0.2s ease;
  line-height: 20px;
  padding-top: 2px;
  border: 1px rgb(225, 225, 225) solid;
}

.remove-class-button:hover {
  background: rgb(225, 225, 225);
  color: rgb(226, 35, 35);
  border: 1px rgb(226, 35, 35) solid;
  transition: all 0.2s ease;
}

.remove-class-button:active {
  color: rgb(170, 17, 17);
  border: 1px rgb(170, 17, 17) solid;
}

.collapse-enter {
  height: 0;
}

.collapse-enter.collapse-enter-active {
  height: 103px;
  transition: height 300ms ease-in;
}

.collapse-leave {
  opacity: 1;
}

.collapse-leave.collapse-leave-active {
  opacity: 0.01;
  transition: opacity 150ms ease-in;
}