.nav-bar {
  display: flex;
  padding: 5px 30px;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  font-family: 'PT Sans Narrow', sans-serif;
  height: 80px;
}

.nav-bar > * {
  flex: 1 100%;
}

.center {
  justify-content: center
}

.right {
  justify-content: flex-end
}

.logo {
  width: 90px;
  margin-right: 8px;
}

.site-name {
  display: flex;
  align-items: center;
  color: rgb(88, 88, 88);
  text-decoration: none;
  margin: 10px 0;
  font-size: 2em
}

.logo-container {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

button {
  border: none;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  outline: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.nav-button {
  display: flex;
  align-items: center;
}

.student-tabs {
  width: 300px;
  display: flex;
  justify-content: space-around
}