.student-detail-container {
  width: 100%;
  margin-left: 20px;
  flex: 1 50%;
  position: relative;
  left: 10px;
}

.student-detail-full-name {
  font-size: 2.1em;
  font-weight: 300;
  margin-bottom: -5px;
  color: rgb(70, 133, 214);
}

.click-to-view {
  margin-top: 25px;
  font-size: 0.8em;
  font-style: italic;
}

.detail-mood-li {
  display: flex;
  flex-flow: row wrap;
}

.detail-caption {
  margin: -20px 0 20px 10px;
  width: 100%;
  text-align: left;
  font-size: 1.2em;
}

.detail-dateTime {
  color: grey;
  display: flex;
  align-items: center;
  padding-top: 5px;
  flex: 1 50%;
}

.detail-moodType {
  font-size: 2em;
  font-weight: 900;
  display: flex;
  justify-content: flex-start;
  flex: 1 50%;
}

.hash {
  color: grey;
  font-size: 0.7em;
  font-weight: 100;
  position: relative;
  top: -5px;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  visibility: hidden;
  color: #111;
  content: close-quote;
  font-size: 4em;
  line-height: 0;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.no-update {
  font-size: 0.8em;
  color: grey;
}