.students-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.student-list-container {
  display: flex;
  flex-flow: row;
  width: 100%;
}
/* 
.student-list-container > * {
  flex: 1 1 50%;
  width: 100%;
} */

.no-student-list-container {
  position: absolute;
  top: 45vh;
  left: 0;
  right: 0;
}

.instruction-to-search {
  font-size: 1.5em;
  color: rgb(70, 133, 214);
  margin-top: 15px;
}