.student-list-by-class-container {
  flex: 1 50%;
  position: relative;
  right: 10px;
}

.class-name-2 {
  width: 400px;
  margin: 10px auto 10px;
  border-top: rgb(70, 133, 214) 5px solid; 
  background: rgb(226, 225, 225);
}

.course-name-period {
  display: flex;
  justify-content: space-around;
}

.course-name, .course-period {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.8em;
  font-weight: 300;
}

.label {
  font-size: 0.8em;
  color: rgb(146, 146, 146);
  position: relative;
  top: -5px;
}

.student-name-2 {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 1.2em;
  padding: 10px;
  transition: all 0.3s ease;
}

.student-name-2:hover {
  font-size: 1.4em;
  transition: all 0.3s ease;
  cursor: pointer;
  color: rgb(226, 35, 35);
}

.student-name-2:active {
  color: rgb(170, 17, 17);
  transition: all 0.1s ease;
}

.pupil-name{
  margin: 0;
}
